body{
    background: #f6f6f6;
    padding: 0px;
    margin: 0px;
}

/*-----------menu lateral--------*/

#titulo{
    background: #333;
    padding: 3px;
}

.catalogo{
    display: flex;
    padding: 0 3px;
    background: #ecebeb;
    border: #7e7d7d 1px solid;
}

.icono{
    width: 100px;
    margin-right: 10px;
    border-right: #7e7d7d 1px solid;
}

@media (min-width: 768px){
    .relleno{
        padding: 0 0 0 12px !important;
    }
}
