
/*----------------Formulario Contacto------------*/

.titulo{
    margin: 0;
    text-align: center;
    height: 40px;
    font-size: 20px;
}

#formularioconte{
    display: flex;
}

#formulariocomentario{
    width: 95%;
    height: 250px;
    border: 1px solid #797777;
    margin-bottom: 30px;
    padding: 10px 8px;
    background: #807979;
}

#boton{
    width: 35%;
    height: 35px;
    border: none;
    margin-bottom: 15px;
    background: #ffffff;
}
#contraseña{
    border-bottom: solid 1px #ffffff;
}

/*-----------------Contactos-------------------------*/

#infocantacto{
    width: 410px;
    margin: 0 100px 0 15px;
    margin-top: 20px;
}

.conteicono{
    display: flex;
    margin-bottom: 10px;
}

.conteimg{
    width: 50px;
    margin-right: 15px;
}

.conte-mas-info{
    margin-top: 12px;
}

.redes-icono{
    width: 25px;
    margin-right: 5px;
}

