/*-------------------Pagina Principal------------*/
body{
    background: #f6f6f6;
}
  /*-------------------header----------------*/
.sin-estilos{
    display: flex;
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

/*----------------nav---------*/

.logo{
    height: 70px;
}
/*--------------Section-------------------------*/

.descripcionBanner{
    font-size: 20px;
    margin-bottom: 12px; 
}

h5{
    color: black;
}
